body,
p,
table {
    font-family: 'Kiwi Maru', serif;
}

.table td {
    word-wrap: break-word;
    word-break: break-all;
}



html {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c8dce0;
    /* 背景色を指定してください */
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c8dce0;
    /* 背景色を指定してください */
}

.container {
    width: 100%;
    max-width: 600px;
    /* コンテナの最大幅を設定 */
    min-height: 100vh;
    /* コンテナの最小高さを設定 */
    flex-direction: column;
    background-color: #DDFFDD;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    /* コンテンツが少ない場合でも余白を埋める */
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
}