body,
p,
table {
    font-family: 'Kiwi Maru', serif;
}

.container {
    width: 80%;
}

.table td {
    word-wrap: break-word;
    word-break: break-all;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
}